<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Twitter-clone</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">

    <!--<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>-->
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container">
        <div>
            <h4 th:text="${@environment.getProperty('ALL_TWEETS_PAGE')}">All tweets page</h4>
        </div>

        <div>
            <a th:href="@{'/new/'}">New tweet</a>
        </div>


        <div class="container">
            <div class="row">
                <div class="col">
                    Left blank for later use of hashtags
                </div>
                <div class="col-6">
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Tweets</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>
                                    <div class="media">
                                        <img src="..." class="mr-3" alt="...">
                                        <div class="media-body">
                                            <h5 class="mt-0">Media heading 1</h5>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr th:remove="all">
                                <td>
                                    <div class="media">
                                        <img src="..." class="mr-3" alt="...">
                                        <div class="media-body">
                                            <h5 class="mt-0">Media heading 2</h5>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr th:each="tweet : ${alltweets}">
                                <!--<td th:text="${tweet.getOpinion()}">Tweet description</td>
                                <td th:text="${tweet.getDate()}">10/01/2020</td>
                                <td>
                                    <a th:href="@{/edit/{id}(id=${tweet.id})}">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/delete/{id}(id=${tweet.id})}">
                                        Delete
                                    </a>
                                </td>-->
                                <td>
                                    <div class="media">
                                        <img src="../../static/images/twittericon.png" class="mr-3" alt="..." th:src="@{/images/twittericon.png}">
                                        <div class="media-body">
                                            <h5 th:text="${tweet.getDate()}" class="mt-0">Media heading 2</h5>
                                            <p th:text="${tweet.getOpinion()}">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col">
                    Left blank for later use of news
                </div>
            </div>
        </div>
    </div>
</body>
</html>